@import 'shared/StyleValues.scss';
@import 'shared/Animations.scss';

.Contact {
    position: fixed;
    pointer-events: none;
    top: 0;
    background-size: cover;
    height: 100%;
    width: 100%;

    @include fade-in();

    p {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .TopBar {
        position: absolute;
        top: 15%;
        left: $sidemargin;
        line-height: calc(100% - 3px);
        font-size: 65px;
    }

    .Context {
        position: absolute;
        pointer-events: all;
        top: calc(15% + 130px);
        bottom: $stepSize *3;
        left: 0;
        right: 0;

        .ArrowBar {
            pointer-events: none;
            width: 100%;
            overflow-y: hidden;
            overflow-x: scroll;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .ArrowContainer {
                height: 4vw;
                white-space: nowrap;

                .Arrow {
                    margin-left: 1.25vw;
                    @include square_px(4vw);
                    margin-right: 1.25vw;
                }
            }

        }

        .OurPeople {
            pointer-events: none;
            width: 100%;
            overflow-y: hidden;
            overflow-x: scroll;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .PeopleContainer {
                height: 100%;
                white-space: nowrap;



                .Person {
                    padding-top: 15px;
                    position: relative;
                    display: inline-block;

                    &.Tag {
                        font-weight: 600;
                    }

                    div {
                        $font: 25px;
                        $pad: 14px;
                        text-align: left;
                        padding: $pad 50px $pad 50px;
                        border-top: 2px black solid;
                        font-size: $font;

                        span {
                            display: block;
                            height: $font + $pad *2;
                            line-height: $font+$pad *2;
                        }
                    }

                    .Page {
                        border-bottom: 2px black solid;
                    }
                }
            }
        }
    }

}