@import 'shared/StyleValues.scss';
@import 'shared/Animations.scss';

.Contact {
    position: fixed;
    pointer-events: none;
    top: 0;
    background-size: cover;
    height: 100%;
    width: 100%;

    @include fade-in();

    p {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .TopBar {
        position: absolute;
        top: 15%;
        left: $sidemargin;
        line-height: calc(100% - 3px);
        font-size: 65px;
    }

    .Context {
        position: absolute;
        pointer-events: all;
        top: calc(15% + 130px);
        bottom: $stepSize *3;
        left: 0;
        right: 0;

        .ArrowBar {
            pointer-events: none;
            width: 100%;
            overflow-y: hidden;
            overflow-x: scroll;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .ArrowContainer {
                height: 5.25vw;
                width: 120vw;


                .Arrow {
                    margin-left: 1.25vw;
                    @include square_px(5vw);
                    margin-right: 1.25vw;
                }
            }

        }

        .OurPeople {}
    }

}