@import 'shared/StyleValues.scss';
@import 'shared/Animations.scss';

.CreateUnit {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 250px;
  width: 800px;
  height: 425px;
  border: 1px black solid;
  background-color: white;
  opacity: 1;

  &.Show {
    pointer-events: all;
  }

  &.Hide {
    pointer-events: none;
  }

  .Title {
    margin-top: 50px;
    padding-left: $sidemargin;
    font-size: 50px;
  }

  .UnitIndex {
    margin-top: 35px;
    padding-left: $sidemargin;
    font-size: 2em;
  }

  .InputForms {
    margin-top: 25px;

    .InputLine {
      position: relative;
      width: 100%;
      height: 70px;
      border-top: 1px solid black;

      .Input {
        height: 100%;
        padding-top: 20px;
        margin-left: $sidemargin;

        &.Show {
          pointer-events: all;
        }

        &.Hide {
          pointer-events: none;
        }
      }

      .Start {
        margin-top: 40px;

        .Padding {
          display: inline-block;
          width: 40%;
        }

        .Button {
          display: inline-block;

          span {
            display: inline-block;
            font-size: 30px;
            vertical-align: top;
            margin-top: 7px;
          }

          .Arrow {
            @include square_px(50px);
            position: relative;
            display: inline-block;
            margin-right: 10px;
          }

          &.Show {
            pointer-events: all;
          }

          &.Hide {
            pointer-events: none;
          }
        }
      }
    }
  }
}
