@import 'shared/StyleValues.scss';
@import 'shared/Animations.scss';

.ModifyAccount {
  .Container {
    margin-top: $stepSize * 2;

    .Close {
      position: absolute;
      @include square(4);
      right: $stepSize * 2;
    }

    .Context {
      margin-top: $stepSize * 6;

      .Title {
        position: relative;
        margin: 0 auto;
        display: table;
        text-align: center;
        font-size: $topArticle;
        margin-bottom: 100px;

        @include underline(3px);
      }

      .InputForms {
        .InputLine {
          position: relative;
          width: 100%;
          height: 65px;
          border-top: 1px solid black;

          .Input {
            height: 100%;
            padding-top: 20px;
            margin-left: 20%;

            &.Show {
              pointer-events: all;
            }

            &.Hide {
              pointer-events: none;
            }
          }

          .Arrow {
            @include square(4);
            position: relative;
            display: block;
            margin: 0 auto;
            margin-top: 50px;

            &.Show {
              pointer-events: all;
            }

            &.Hide {
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
