.CustomInput {
    span {
        margin-right: 25px;
    }

    input {
        width: 18em;
        background-color: #FFFFFF00;
        border: none;
        padding: 0;
    }

    input:focus {
        outline: none;
    }
}