.CustomInput {
    span {
        margin-right: 25px;
    }

    input {
        background-color: rgba($color: #000000, $alpha: 0.75);
        border: none;
        padding: 0;

    }

    input:focus {
        outline: none;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    ::-moz-selection {
        /* Code for Firefox */
        color: white;
        background-color: black;
    }

    ::selection {
        color: white;
        background-color: black;
    }
}