.CustomInput {
    span {
        margin-right: 25px;
    }

    input {
        background-color: #FFFFFF00;
        border: none;
        width: 20em;
        padding: 0;
    }



    input:focus {
        outline: none;
    }
}