@import 'shared/StyleValues.scss';
@import 'shared/Animations.scss';

.Board {
    position: fixed;
    top: $stepSize*5;
    left: $sidemargin*2;
    right: $sidemargin*2;

    bottom: $stepSize*5;

    .Title {
        display: inline-block;
        font-size: $topArticle;
        @include underline(2px);
    }

    .Context {
        margin-top: $stepSize;
        height: calc(100% - #{$stepSize * 4});

        .ScrollContainer {
            height: 100%;
            margin-left: $stepSize * 2;
            width: calc(100% - #{$stepSize * 8});

            .Scroll {
                pointer-events: all;
                height: 100%;
                white-space: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
                @include animate();

                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                .ChannelContainer {
                    display: inline-block;
                    background-color: red;
                    border: 2px black solid;

                    margin: 0 2vw 0 2vw;
                    width: 20vw; //400px;
                    height: 32vw; //calc(100% - #{$stepSize *2 });
                }
            }
        }

        .IconSet {
            position: absolute;
            top: calc(50% - #{$stepSize * 5});
            right: 0;
            width: $stepSize * 6;

            .Icon {
                display: inline-block;
                margin-left: $stepSize * 1.2;
                margin-bottom: $stepSize * 2;
                @include square(3.6);

                .Arrow {
                    pointer-events: all;
                    height: 100%;
                    width: 100%;
                    @include animate-move-x();

                    &.Right {
                        @include animate-rotate(180deg);
                    }

                    &.Left {
                        @include animate-rotate(360deg);
                    }
                }

                .Plus {
                    pointer-events: all;
                    height: 100%;
                    width: 100%;
                }
            }


        }
    }

}