@import 'index.scss';

.Homepage {
    position: fixed;
    pointer-events: none;
    top: 0;
    background-size: cover;
    height: 100%;
    width: 100%;

    .context {
        margin: 5% $sidemargin 5% $sidemargin;
        height: 90%;

        .MessageBox {
            position: relative;
            top: calc(35%);
            left: $stepSize *2;

            div {
                height: $smallArticle;
                font-size: $title;
            }
        }

        .ConceptsImage {
            position: fixed;
            margin-top: 5%;
            right: $sidemargin;
            height: 70%;
        }

        a {
            position: relative;
            top: 5%;
            left: calc(35%);


            .Arrow {
                position: relative;
                @include square(5);
                pointer-events: all;
            }
        }
    }

}