@import 'index.scss';

.Homepage {
    position: fixed;
    pointer-events: none;
    top: 0;
    background-image: url("./resources/images/background.png");
    background-size: cover;
    height: 100%;
    width: 100%;

    .context {
        margin: 5% $sidemargin 5% $sidemargin;
        height: 90%;

        .MessageBox {
            position: relative;
            top: calc(30% - 2.5em);
            left: $stepSize *2;

            div {
                height: 1em;
                font-size: 5em;
            }
        }

        .ConceptsImage {
            position: fixed;
            margin-top: 5%;
            right: $sidemargin;
            height: 70%;
        }

        a {
            position: relative;
            top: calc(10em + 75px);
            left: calc(35% + 25px);


            .Arrow {
                position: relative;
                @include square(5);
                pointer-events: all;
            }
        }
    }

}