@import 'shared/StyleValues.scss';
@import 'shared/Animations.scss';


.FloatingIcons {
    .Icon {
        @include square(3);
        pointer-events: all;
        display: block;
        margin-bottom: 25px;
    }

    .RotateIcon {
        @include animate-rotate(0deg);

        &.Rotate {
            @include animate-rotate(180deg);
        }
    }
}