@import 'shared/StyleValues.scss';
@import 'shared/Animations.scss';

.Account {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .Context {
        position: fixed;
        right: 2.5%;
        margin-top: 5%;
        width: 45%;
        height: 75%;
        text-align: right;
    }

    .Close {
        @include square(4);

        &.Show {
            pointer-events: all;
        }

        &.Hide {
            pointer-events: none;
        }
    }

    .Title {
        position: relative;
        font-size: $topMenu;
        text-align: right;
    }

    .ImageBox {
        position: relative;
        margin-top: 25px;
        height: 50%;

        .ConceptImage {
            position: absolute;
            left: 0;
            height: 100%;
            z-index: 0;
        }

        .AccountData {
            position: absolute;
            right: 0;
            bottom: 10%;
            z-index: 1;

            .UserType {
                position: relative;
                font-size: $topArticle;
                margin-bottom: 10px;
            }

            .ModifyAccount {
                position: relative;
                font-size: $smallMenu;
                text-decoration: underline;

                &.Show {
                    pointer-events: all;
                }

                &.Hide {
                    pointer-events: none;
                }
            }
        }

    }


    .SignOut {
        position: absolute;
        font-size: $subTopArticle;
        bottom: 0;
        right: 0;
        @include underline-effect(3px, 0.5s);

        &.Show {
            pointer-events: all;
        }

        &.Hide {
            pointer-events: none;
        }
    }

}