@mixin underline_effect($size, $duration) {
    padding-bottom: 1px;
    background-image: linear-gradient(transparent calc(100% - #{$size}), #111 $size);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size $duration;

    &:hover {
        background-size: 100% 100%;
    }
}

@mixin underline($size) {
    background-image: linear-gradient(transparent calc(100% - #{$size}), #111 $size);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin animate() {
    transition: all 0.35s ease;
}

@mixin animate_short() {
    transition: all 0.2s ease;
}

@mixin fade-in() {
    opacity: 1;
    transition: opacity 0.25s ease;

    &.Invisible {
        opacity: 0;
    }
}

@mixin square($size) {
    $calculated: $stepSize * $size;
    width: $calculated;
    height: $calculated;
}

@mixin square_px($size) {
    width: $size;
    height: $size;
}

@mixin animate-rotate ($angle) {
    transform: rotate($angle);
    transition: all 0.35s ease;
}

@mixin animate-move-y() {
    position: relative;
    animation-name: move-y;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@mixin animate-move-x() {
    position: relative;
    animation-name: move-x;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes move-y {
    0% {
        margin-top: -5px;
    }

    50% {
        margin-top: 5px;
    }

    100% {
        margin-top: -5px;
    }
}

@keyframes move-x {
    0% {
        margin-left: -5px;
    }

    50% {
        margin-left: 5px;
    }

    100% {
        margin-left: -5px;
    }
}