$stepSize: 24px;
$sidemargin: 50px;

$title: 5em;
$subTitle: 4.2em;
$topMenu:4em;
$topArticle: 3.15em;
$subTopArticle: 2.75em;
$smallMenu: 2.25em;
$channelThumbnail: 2em;

$channelTab: 1.5em;
$midArticle: 1.4em;
$article: 1.1em;
$smallArticle: 1em;
$additional: 0.75em;