@import 'shared/StyleValues.scss';

.Channel {
    height: 100%;
    width: 100%;

    .ChannelImage {
        display: block;
        height: 75%;
    }

    .ChannelContext {
        margin-top: 10px;

        .ChannelTitle {
            text-align: right;
            word-break: normal;
            white-space: normal;
            font-size: $channelDetail;
        }

        .ChannelDetail {
            text-align: right;
            word-break: normal;
            white-space: normal;
            font-size: $channelDetail;
        }
    }

}