@import 'shared/StyleValues.scss';
@import 'shared/Animations.scss';


.Unit {
    position: fixed;
    top: $stepSize *3;
    left: 0;
    right: 0;
    bottom: $stepSize *3;

    .TopBar {
        margin-left: $sidemargin *2;

        .ArrowLeft {
            pointer-events: all;
            @include square(3);
        }
    }

    .ChannelInformationBar {
        margin-top: 15px;
        margin-left: $sidemargin *2;

        .ChannelTitle {
            font-size: $topArticle;
        }

        .ChannelDetail {
            font-size: $article;
        }
    }

    .UnitInformationBar {
        margin-top: 15px;
        height: 80px;
        border-top: 3px black solid;
        border-bottom: 3px black solid;

        .Context {
            margin-top: 20px;
            margin-left: $sidemargin *2;

            div {
                display: inline;
                vertical-align: middle;
            }

            .UnitIndex {
                font-size: $unitList;
                margin-right: 25px;
            }

            .UnitTitle {
                font-size: $unitList;
                margin-right: 100px;
            }

            .UnitIconSet {

                .Icon {
                    pointer-events: all;
                    margin-right: 25px;
                    @include square(1.25);

                    &.Disable {
                        pointer-events: none;
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    .ContextContainer {
        margin-top: $stepSize;
        margin-left: $sidemargin *2;
        margin-right: $sidemargin *4;

        .Context {

            .DocumentTitle {
                margin-bottom: 15px;

                div {
                    vertical-align: baseline;
                    display: inline;
                    font-size: $channelThumbnail;
                }

                input {
                    width: 100%;
                    vertical-align: baseline;
                    font-size: $channelThumbnail;
                }

                img {
                    margin-left: 25px;
                    pointer-events: all;
                    @include square(1);
                }
            }

            .DocumentBody {
                pointer-events: all;
                font-size: $midArticle;
                height: 450px;
                width: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
                border: 1px gray solid;
                padding: 25px 25px 25px 25px;

                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }


    .IconContainer {
        position: fixed;
        bottom: 7.5%;
        right: 5%;
    }

    .ImageContainer {
        position: absolute;
        top: 20%;
        left: $sidemargin*2;
        width: 25%;
        height: 80%;

        .ChannelImage {
            display: block;
            margin: 0 auto;
            height: 100%;
        }
    }


}