.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .ShowOverlay {
        height: 100%;
        width: 100%;
        background-color: #FFFFFFDF;
    }

}