.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    .OverlayBackground {
        height: 100%;
        width: 100%;
        background-color: #FFFFFF;

        &.Show {
            pointer-events: all;
            opacity: 0.85;
        }

        &.Hide {
            pointer-events: none;
            opacity: 0;
        }
    }

}