@import 'shared/StyleValues.scss';
@import 'shared/Animations.scss';

.CreateChannel {
  @include centerPosition(600px, 1000px);
  border: 1px black solid;
  background-color: white;
  opacity: 1;

  &.Show {
    pointer-events: all;
  }

  &.Hide {
    pointer-events: none;
  }

  .Title {
    margin-top: 7.5%;
    padding-left: $sidemargin;
    font-size: 50px;
  }

  .InputForms {
    margin-top: 12.5%;

    .InputLine {
      position: relative;
      width: 100%;
      height: 65px;
      border-top: 1px solid black;

      .Input {
        height: 100%;
        padding-top: 20px;
        margin-left: $sidemargin;

        &.Show {
          pointer-events: all;
        }

        &.Hide {
          pointer-events: none;
        }
      }

      .Start {
        margin-top: 10px;

        .Padding {
          display: inline-block;
          width: 45%;
        }

        .Button {
          display: inline-block;

          span {
            display: inline-block;
            font-size: 30px;
            vertical-align: top;
            margin-top: 7px;
          }

          .Arrow {
            @include square_px(50px);
            position: relative;
            display: inline-block;
            margin-right: 10px;
          }

          &.Show {
            pointer-events: all;
          }

          &.Hide {
            pointer-events: none;
          }
        }
      }
    }
  }

  .ImageContainer {
    position: absolute;
    bottom: 50px;
    right: 50px;

    .ChannelImage {
      width: 300px;
    }

    .ChangeImage {
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
      text-decoration: underline;

      &.Show {
        pointer-events: all;
      }

      &.Hide {
        pointer-events: none;
      }
    }
  }
}
