$stepSize: 24px;
$sidemargin: 50px;

$title: 5em;
$subTitle: 4.2em;
$topArticle: 3.15em;
$subTopArticle: 2.75em;
$smallMenu: 2.25em;
$midArticle: 1.4em;
$article: 1.1em;
$smallArticle: 1em;
$additional: 0.75em;

@mixin square($size) {
  $calculated: $stepSize * $size;
  width: $calculated;
  height: $calculated;
}

@mixin square_px($size) {
  width: $size;
  height: $size;
}

@mixin animate-rotate ($angle) {
  transform: rotate($angle);
  transition: all 0.35s ease;
}

@mixin animate-move-y() {
  position: relative;
  animation-name: move-y;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@mixin animate-move-x() {
  position: relative;
  animation-name: move-x;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes move-y {
  0% {
    margin-top: -5px;
  }

  50% {
    margin-top: 5px;
  }

  100% {
    margin-top: -5px;
  }
}

@keyframes move-x {
  0% {
    margin-left: -5px;
  }

  50% {
    margin-left: 5px;
  }

  100% {
    margin-left: -5px;
  }
}





* {
  box-sizing: inherit;
  font-family: 'Helvetica Neue LT Pro 55 Roman';

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.UnderlineEffect {
  padding-bottom: 1px;
  background-image: linear-gradient(transparent calc(100% - 1.5px), #111 1.5px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.35s;

  &:hover {
    background-size: 100% 100%;
  }
}

.AnimateDom {
  transition: all 0.35s ease;
}