$stepSize: 24px;
$sidemargin:50px;

$title:5em;
$subTitle:4.2em;
$topArticle:3.15em;
$smallMenu:2.25em;
$midArticle:1.4em;
$article:1em;
$additional:0.75em;

@mixin square($size) {
  $calculated: $stepSize * $size;
  width: $calculated;
  height: $calculated;
}


* {
  box-sizing: inherit;
  font-family: 'Helvetica Neue LT Pro 55 Roman';

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.UnderlineEffect {
  padding-bottom: 1px;
  background-image: linear-gradient(transparent calc(100% - 1.5px), #111 1.5px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.35s;
}

.UnderlineEffect:hover {
  background-size: 100% 100%;
}